body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size:12pt;
  color:#5d5d5d;
  background-color:#f1f1f1;
}
.content {
  border-left:10px solid #e5e5e5;
  padding-left:2em;
  max-width:700px;
  width:100%;
  margin: 0px auto;
  padding-right:3em;
  box-sizing:border-box;
}
h1 {
  font-family: "Arbutus Slab", "Georgia", serif; 
  text-transform:lowercase;
  margin-top:2em;
  margin-bottom:1.5em;
  line-height:1em;
}
ul {
  margin:0;
  padding:0;
}
  ul li {
    margin:0;
    margin-bottom:0.2em;
  }
ul.works {
  margin-left:2em;
  margin-top:0.5em;
}
a:link {
  color:#5d5d5d;
}
a:active,
a:visited {
  color:#5d5d5d;
}



ul.sm {
  margin-top:5em;
  color:#878787;
  font-weight:lighter;
  font-size:85%;
  margin-bottom:3em;
}
ul.sm li {
  margin-right:1em;
  list-style:none;
  display:inline-block;
}
.sm a:link {
  text-decoration:none;
}
.sm a:link,
.sm a:active,
.sm a:visited {
  color:#878787;
}
.sm a:hover {
  text-decoration:underline;
}
