<nav>
  <ul class="top-bar">
     {% for item in site.data.navigation %}
         <li><a href="{{ item.link }}" {% if page.url == item.link %}class="active-nav"{% endif %}>
               {{ item.name }}
             </a>
         </li>
     {% endfor %}
     <li><a href="http://twitter.com/suchnadine"><img src="/assets/icons/twitter.svg" alt="Twitter"/></a>
     <li class="icon"><a href="http://www.linkedin.com/in/nadinetabing"><img src="/assets/icons/linkedin.svg" alt="LinkedIn"/></a>
     <li class="icon"><a href="http://www.instagram.com/miryenda"><img src="/assets/icons/instagram.svg" alt="Instagram"/></a>
  </ul>
</nav>
<div class="header title">
  <h1> nadine aurora tabing </h1>
  <h1 class="subtitle">
    UX Designer &amp; Writer based in the Pacific Northwest
    </h1>
</div>
