---
---
@import "main";
$text-color-lighter: #878787;
$text-color-default:#4c4c4c;
$narrow-text-width:600px;
$portfolio-text-width:500px;

/* top */

@font-face {
  font-family: 'MarangsaDisplay';
  font-style: normal;
  font-weight: normal;
  src: local('Dangwa'), url('..//fonts/MaragsaDisplay.ttf') format('truetype');
  }

body {
  background-color:#fff;
  color:$text-color-default;
  font-family:"Public Sans";
  margin:0;
  font-size:13pt;
  line-height:19pt;
}

h1,h2 {
  text-transform:lowercase;
  font-family:"MarangsaDisplay", serif;
  margin:0;
  font-weight:normal;
}
  .header {
    margin-bottom:1rem;
  }
  .title {
    text-align:left;
    margin-top:5rem;
    font-size:22px;
    line-height:44px;
  }
  .subtitle {
    color:#707070;
    font-size:23px;
    font-family: "Public Sans",sans-serif;
    line-height:30px;
    margin-top:1rem;
    font-weight:normal;
    margin-bottom:10rem;
  }
  .subheader {
  margin-top:1rem;
  margin-bottom:1rem;
    float:left;
  }
    .subheader h1 { 
      font-size:23px;
    }

h2 {
  font-family: "Public Sans";
  font-size:14pt;
  color:#656565;
  margin:0;
} 

.bg {
  position:fixed;
  z-index:-1;
}
  .pfp {
    position:absolute;
    top:50px;
    z-index:-1;
    left:900px;
    width:313px;
    height: 355px;
  }
  .rainslice {
    position:absolute;
    z-index:-1;
  }
    .rainslice.up {
      top:0px;
    }
    .rainslice.down {
      bottom:0px;
      right:0px;
      transform:rotate(180deg);
    }
  .bigblob {
    top:300px;
    left:450px;
  }
  .littleblob {
    top:650px;
    left:950px;
  }

.content{
  max-width:960px;
  width:70%;
  overflow-x:hidden;
  padding:10px;
  margin:0px auto;
  /* min-width:375px; */
  box-sizing:border-box;
  position:relative;
  &.portfolio {
    margin:0px auto;
  }
  .about {
    width:80%;
    margin:0px auto;
    img {
      margin:0px auto;
      display:block;
    }
  }
  .study p {
    max-width:$narrow-text-width;
  }
  .study li {
    max-width:550px;
  }
}
.top-bar {
  padding:0;
  float:right;
  text-transform:lowercase;
  li {
    list-style-type: none;
    display: inline;
    margin-left: 2rem;
  }
  li a {
    color:$text-color-default;
    &:active {
      color:$text-color-default;
    }
    &:hover {
      text-decoration:underline;
    }
    &.active-nav {
      font-weight:bold;
   }
  }
}

a {
  text-decoration:none;
  &:hover,
  &:active {
    text-decoration:none;
  }
  &:hover {
    top:2px;
    left:2px;
  }

  &:link,
  &:visited {
    color: $text-color-default;
  }
}

/* middle */
.bit {
  position:relative;
  width:100%;
  height:280px;
  min-height:280px;
  background-size:cover;
  padding-right:2rem;
  box-sizing:border-box;
  margin:0px;
  display:inline-block;
  padding-bottom:2rem;
  text-decoration:none;
  min-width: 150px;
  margin-top:1rem;
  padding-top:2rem;
  padding-left:2rem;
  margin-bottom:9rem;

  &:hover,
  &:active
  {
    color:$text-color-default;
  }

  h3,
  p {
    margin:0;
    color:#fff;
  }

  h3 {
    margin-top:2rem;
    line-height:20pt;
    font-family:"MarangsaDisplay", serif;
    font-size: 13pt;
    text-transform: uppercase;
    letter-spacing:2.5px;
  }

  p {
    font-size:20pt; 
    margin-top:1rem;
    width:50%;
    font-weight:300;
    color:#fff;
  }
  img {
    border-radius:2px;
  }
}
.half.bit{
  width:49%;
  margin:0;
  float:left;
  margin-bottom:15rem;

  &.second {
    margin-left: 2%;
  }
  h3 {
    position:static;
    top:0rem;
  }
  .text {
    position:absolute;
    top:92%;
    left:0px;
    h3,
    p {
      color:$text-color-default;
    }

    p {
      font-size: 14pt;
      margin-top: 0rem;
      width: 100%;
      font-weight: 300;
    }
    &.right {
      margin-left:1%;
    }
  }
}
.bit-img {
  background-size: cover;
  border-radius:2px;
  min-height:500px;
}


/* INDIVIDIAL HOMEPAGE STYLES */
.bit.ls {
  background-color:#00A0BC;
  p {
    width:40%;
  }
}
.lscard {
  width:250px;
}
.lscard-group {
  position:absolute;
  top: -7rem;
  right: 4rem;
}
.bit.nx {
  margin-bottom:12rem;
}
.nx h3,
.nx p{
  color:$text-color-default;
  position:relative;
  left:16rem;
}
.nx img {
  position:absolute;
}
.nxphone {
  width:225px;
  top:-40%;
}
.nxresearch {
  width:50%;
  left: 15rem;
  top: 13rem;
}
.reveal {
  background-size:40%;
  background-position:100% 100%;
  background-repeat:no-repeat;
  background-color:#f1f1f1;
  margin-bottom:2rem;
  }
  .reveal h3,
  .reveal p {
    color:$text-color-default;
  }
.game h3,
.game p {
  text-shadow: -1px 1px $text-color-default;
}
.game {
  margin-bottom:3rem;
}







h3 {
  font-family: "MarangsaDisplay", serif;
  margin-top: 2rem;
}
h4 {
  font-family: "MarangsaDisplay", serif;
  clear:both;
  font-size: 30pt;
  max-width:500px;
  line-height:36pt;
  margin-bottom:0rem;
}
  .ls1 {
    margin-top:13rem;
  }
  .ls2 {
    float:right;
    width:500px;
    margin-bottom:2rem;
  }
  .ls3 {
    width:50%;
  }
  .nxboardimg {
    width:50%;
  }
  .ap1 {
    width:40%;
  }
  .ap2 {
    width:40%;
  }
  .ap3 {
    width:80%;
  }
  .illo1 {
    margin-top:4rem;
  }
h5 {
  font-family: "MarangsaDisplay", serif;
  color:$text-color-lighter;
  text-transform:uppercase;
  font-size:18pt;
  margin-bottom:0;
  margin-top:3rem;
  letter-spacing:1.5px;
}
.content .portfolio p {
  max-width:$portfolio-text-width;
  line-height: 17pt;
}
.content .portfolio a {
  text-decoration:underline;
  position:relative;
  &:hover {
    top:1px;
    left:1px;
  }
}
.content .portfolio li {
  max-width:$portfolio-text-width;
}




.portfolio img {
  margin:0px auto;
  display:block;
  margin-bottom:0;
  margin-top:2rem;
  max-width:100%;
}
  .smaller {
    width:60%;
  }
iframe {
  display:block;
  margin:0px auto;
  width:100%;
  max-width:560px;
  margin-bottom:3rem;
}

  .side-by-side .smaller {
    display:inline-block;
    width:46%;
    margin:1.75%;
  }
  .side-by-side.lights {
    width:61%;
    margin:0px auto;
  }

.half-size {
  width:50%;
}
.content .portfolio p.caption {
  margin-top:0.5rem;
  margin-bottom:2rem;
  font-size:90%;
  text-align:center;
  color:$text-color-lighter;
  width:100%;
  font-style:italic; 
}
.hello-bit {
  margin:0px auto;
  margin-top:3rem;
  width:80%;
}
  .hello-bit h3 {
    text-align:center;
  }
blockquote {
  font-style:italic;
  border-left:2px solid #a5a5a5;
  padding-left:1rem;
  margin-bottom:3rem;
}
li {
  line-height:20px;
  margin-bottom:4px;
  width:77%;
}


@media only screen and (max-width: 1337px) {
  .content {
    /* border:1px dashed green;  */
    width:100%;
  }
  .illo {
    background-position: 50% 7%;
  }
  .dog {
    background-position: 50% 53%;
  }
  .bit {
    height:auto;
    margin-bottom:2rem;
    min-width:900px;
  }
  .bit.ls {
    background-size:100%;
    background-repeat:no-repeat;
    background-position:0% 100%;
    margin-bottom:9rem;
  }
  .nx p {
    font-size:17pt;
  }
  .nxresearch {
    left: 25%;
    top: 74%;
  }
  .bit.nx {
    margin-bottom:11rem;
  }
  .bit.half {
    float:none;
    width:100%;
    margin-bottom:5rem;
  }
    .half.bit.second {
      margin-left:0;
    }
  .reveal {
    background-size:40%;
  }
}

@media only screen and (max-width: 965px) {
  .content {
    /* border:2px dashed red; */
    width:600px;
  }
  .bit.half {
    margin-bottom:5rem;
  }
  .bit.ls {
    margin-bottom:8rem;
  }
  .bit {
    width:100%;
    min-width:100%;
  }
  .bit.ls p {
    width:100%;
  }
  .lscard {
    width:49%;
  }
  .lscard-group {
    position:static;
    margin: 0px auto;
    margin-top: 2rem;
  }
  .nxitems .nxphone {
    width: 40%;
    top: -29%;
    left: 0%;
  }
  .nxitems .nxresearch {
    width: 68%;
    left: 35%;
    top: 71%;
  }
  .bit.nx {
    margin-bottom:12rem;
  }
    .nx h3 {
      margin-top:0rem;
    }
    .nx p {
      font-size:15pt;
    }
  .nx h3,
  .nx p {
    left:46%;
  }
  .reveal {
    margin-bottom:1rem;
  }
    .reveal h3 {
      margin-top:0rem;
    }
    .reveal p {
      font-size:16pt;
    }
    .subtitle {
      margin-bottom:0rem;
    }
}
@media only screen and (max-width: 620px) {
.blog h1 {
  margin-top: 3rem;
  margin-bottom:-1rem;
}
.ls1  {
  margin-top:3rem;
}
.smaller,
.ls3,
.ap1,
.ap2,
.game h3, .game p,
.side-by-side .smaller,
.nxboardimg {
  width:100%;
}
.bit.ls {
  background-size:400%;
}
.top-bar li {
  margin-left:1rem;
}
  .bit.reveal p {
    width:65%;
  }
  .content {
    width:90%;
    /* border:1px solid purple; */
  }
    .content.portfolio p {
      width:100%;
    }
    .content.portfolio .subheader h1 {
      font-size:22px;
    }
    .ls1,
    .ls2 h4,
    .content.portfolio h4 {
      width: 100%;
      font-size: 20pt;
      line-height: 26pt;
    }
    .content.portfolio h5 {
      font-size:15pt;
    }
    .content.portfolio img {
      width:100%;
    }
    .ls2 {
      float:none;
      width:100%;
    }
    .content.portfolio li {
      width:100%;
    }
  .bit.ls {
    margin-bottom:7rem;
  }
  .bit.nx {
    margin-bottom:2rem;
  }
  .bit.half {
    margin-bottom:6rem;
  }
  .subtitle {
    margin-bottom:0rem;
  }
}
@media only screen and (max-width: 320px) {
  .content {
    width:100%;
    /* border:2px solid blue; */
  }
  .rainslice {
    width:320px;
  }
  
}



/* illustration */
.illust {
  width:100%;
  background-size:cover;
  margin:0px auto;
  position:relative;
  margin-bottom:2rem;
}
  .illust-caption {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:#4a4a4a;
    opacity:0;
  }
    .illust:hover .illust-caption {
      opacity:80%;
    animation: example 5s linear 2s infinite alternate;
    }
    .illust:hover p {
      opacity:100%;
    }
    .illust img {
      margin-top:0;
    }
    .illust p {
      text-align:center;
      display:inline;
      position:absolute;
      top:39%;
      font-size: 20pt;
      color: #fff;
      opacity:0;
      line-height: 30pt;
      width:100%;
    }

/* writing */
.writing-bit {
  width:100%;
  min-height:350px;
  background-size:cover;
  .overlay {
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.35);
    padding:20px;
    box-sizing:border-box;
    color:#fff;
    h5, a {
      color:#fff !important;
    }
    h5 {
      font-size:45px;
      margin-top:2rem;
    }
    .writing-info {
      font-size: 15px;
      margin: 0px auto;
      font-weight:bold;
      margin:0px;
    }
  }
}

/* blog */

.blog {
  h1 {
    font-size:50px;
  }
  h2 {
    font-size:30px;
    font-family: 'MarangsaDisplay';
    text-transform:none;
      color:$text-color-default;
  }
  a.tag {
    text-decoration:italic;

  }
  .footer {
    margin-top:5rem;
    a {
      color:$text-color-lighter;
    }
  }
}
  .post {
    margin-top:4rem;
    max-width:$narrow-text-width;
    margin-bottom:4rem;
    .header {
        margin:0px;
        margin-bottom:3rem;
    }
    a {
      text-decoration:underline;
    }
    h2 {
    }
    
    a.read-more {
      font-style: italic;
    color:$text-color-lighter;
    text-decoration:none;
    }
  }
