---
---
@import "main";
$text-color-lighter: #757575;
$text-color-default:#4c4c4c;
$narrow-text-width:600px;
$portfolio-text-width:500px;
$nav-icon-size:16px;
$border:4px solid #e6e6e6;
$link-color:#91A86B;

/* top */

@font-face {
  font-family: 'MarangsaDisplay';
  font-style: normal;
  font-weight: normal;
  src: local('Dangwa'), url('..//fonts/MaragsaDisplay.ttf') format('truetype');
  }

body {
  background-color:#f9f9f9;
  color:$text-color-default;
  font-family:"Georgia";
  margin:0;
  font-size:13pt;
  line-height:19pt;
}

h1, h3 {
  font-family:"MarangsaDisplay", serif;
  font-weight:normal;
  margin:0;
}
h1, h2 {
  text-transform:lowercase;
}
  h3.recent {
    font-size:90%;
    text-transform:uppercase;
    color:$text-color-lighter;
    margin-bottom:2rem;
  }
  h1 {
    margin-top:5rem;
    margin-bottom:1rem;
    font-size:35pt;
    line-height:40pt;
  }
  h2 {
    font-size:14pt;
    font-weight:normal;
    color:$text-color-lighter;
    font-size:23px;
    font-family: "Georgia",serif;
    line-height:30px;
    margin-top:1rem;
    margin-bottom:7rem;
  } 

.rainslice {
  position:absolute;
  z-index:-1;
  top:0px;
}

.content{
  width:700px;
  padding:10px;
  box-sizing:border-box;
  left:5rem;
  position:absolute;
}
.top-bar {
  padding:0;
  margin-right:20%;
  float:right;
  text-transform:lowercase;
  &.write-nav {
    float:none;
    li {
      margin-right:2rem;
      margin-left:0;
    }
  }
  li {
    list-style-type: none;
    display: inline;
    margin-left: 2rem;
   &.icon {
    margin-left:4px;
   }
  }
  li a {
    color:$text-color-lighter;
    &:active {
      color:$text-color-default;
    }
    &:hover {
      text-decoration:underline;
    }
    &.active-nav {
      font-weight:bold;
   }
  }
  img {
    width:$nav-icon-size;
    height:$nav-icon-size;
    margin:0px auto;
  }
}

.top-bar {
  a {
    text-decoration:none;
    &:link {
      text-decoration:none;
    }
    &:hover,
    &:active {
      text-decoration:underline;
    }

    &:visited {
      text-decoration:underline;
    }
  }
}

.writing-portfolio {
  a {
    text-decoration:none;
    background-color:$link-color;
    color:#ffffff;
    padding-left:4px;
    padding-right:4px;

    &.no-highlight,
    &.no-highlight:visited
    {
      background-color:transparent;
      color:#708253;

    }
    &:hover,
    &:active {
      top:2px;
      left:2px;
      text-decoration:underline;
    }
    &:visited {
      background-color: #728258;
      text-decoration:underline;
    }
  }
}

hr {
  border:0;
  border-top:$border;
  margin-top:4rem;
  margin-bottom:4rem;
  float:left;
  width:300px;
}


footer {
  clear:both;
  font-size:80%;
  width:50%;
  max-width:600px;
  min-width:455px;
  display:grid;
  grid-template-columns:35% auto;
  .avatar {
    background-image: url("../images/headshot.png");
    width:160px;
    height:160px;
    background-size:cover;
    border-radius:6px;
    .circle {
      border-radius:50%;
      z-index:-1;
      position:Relative;
      background-color:#fee6b7;
      width:240px;
      height:240px;
      left:40px;
      bottom:-20px;
    }
  }
  .bio {
    padding-left:1rem;
    p {
      margin:0;
      margin-bottom:1rem;
    }
  }
}


/* test grid */
.writing-grid {
  display:grid;
  grid-template-columns: 5% 1fr 1fr;
  margin-bottom:3rem;
  &.desc-first {
    grid-template-columns: 1fr 5% 1fr;
    grid-column-gap:20px;
  }

  .title-pub-col {
    position:relative;
  }
  .title-pub {
    position:absolute;
    left:0;
    bottom:0;
    transform: rotate(-90deg) translate(0%);
    transform-origin: left top;
    width:max-content;
    h3, h4 {
      color:#000;
      display:inline;
      font-weight:normal;
    }
    h3 {
      font-size:36px;
      margin-right:1rem;
    }
    h4 {
      font-size: 20px;
      font-family: "Georgia", serif;
    }
  }

  .cover-col {
    position:relative;
    p {
      position:absolute;
    }
  }

  .desc-col {
    padding:30px;
    color:$text-color-lighter;
    font-size:80%;
    line-height:140%;
    position:relative;
    p {
      position:absolute;
      bottom:0;
    }
  }

  /* specific styles */

  &#obsolesce {
    img {
      width:423px;
      height:600px;
    }
    .cover-col p {
      width: 369px;
      left: 21px;
      bottom: 68px;
    }
  }
  &#garden {
    img {
      width:423px;
      height:619px;
    }
    .cover-col p {
      width: 369px;
      color: #fff;
      left: 44px;
      bottom: 68px;
    }
  }
  &#anatomy {
    img {
      width:423px;
      height:619px;
    }
    .cover-col {
      left:11px;
    }
    .cover-col p {
      width: 369px;
      color: #fff;
      left: 19px;
      top: 200px;
      text-shadow: 1px 1px 1px #000;
    }
  }
  &#gyre {
    img {
      width:423px;
      height:600px;
    }
    .cover-col p {
      width: 369px;
      color: #fff;
      left: 22px;
      bottom: 68px;
    }
  }
  &#butterfly {
    img {
      width:518px;
      height:600px;
    }
    .cover-col p {
      width: 369px;
      color: #fff;
      left: 13px;
      bottom: 68px;
    }
    .desc-col {
      padding:0px;
      p {
        bottom:0px;
      }
    }
  }
  &#taste {
    img {
      width:423px;
      height:600px;
    }
    .cover-col p {
      width: 369px;
      color: #fff;
      left: 22px;
      text-shadow: 1px 1px 5px #000000;
      bottom: 34px;
    }
  }
  &#diy {
  grid-template-columns: 15% 1fr 1fr;
    img {
      width:423px;
      height:600px;
    }
    .cover-col {
      p {
        width: 300px;
        color: #fff;
        left: 10%;
        bottom: 10%;
      }
    }
  }
  &#parts {
    img {
      width:423px;
      height:600px;
    }
    .cover-col {
      p {
        width: 369px;
        left: 10%;
        bottom: 50%;
      }
    }
  }
}


@media only screen and (max-width: 730px) {
  body {
    overflow-x: hidden;
  }
  .writing-portfolio {
    padding-top:3rem;
  }
  .writing-grid {
    grid-template-columns: 1fr !important;
    grid-template-rows:1fr;
    margin-bottom:10rem;
    .title-pub-col {
      top:3rem;
      width:70%;
      margin-bottom:1rem;
    }
    .title-pub {
      transform:none;
      width:80%;
    }
    .desc-col {
      width:50%;
      grid-row:3;
      p {
        position: initial;
      }
    }
  }
  .content {
    overflow-x:hidden;
    left:1rem;
    footer {
      width:80%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .writing-grid {
    .desc-col {
      padding:0px;
    }
    .title-pub-col {
      width:60%;
    }
    .cover-col p {
      width:300px !important;
    }
  }
  .content footer {
    width:40%;
    display:block;
    .bio {
      padding-left:0;
      margin-top:1rem;
      p {
        width:80%;
      }
    }
  }

}

/* inherited taste */
.content#taste {
  overflow-y:hidden;
  width:100%;
  max-width:700px;
  position:relative;
  left:0;
  padding-left:3rem;
  h1, h2 {
    text-transform:none !important;
  }
  h1 {
    line-height:30pt;
    font-family:"Kurale", serif;
  }
  h2 {
    margin-bottom:0.2em;
    padding-left:3rem;
    color: $text-color-default;
  }
  a:link,
  a:visited {
    color: $text-color-default;
  }
  h3 {
    font-family:"Georgia";
    font-style: italic;
    font-size:99%;
    color: $text-color-lighter;
  }
  .inheritedtaste {
    padding-top:3rem;
    width:90%;
  }
  .writing-portfolio {
    padding-top:0;
  }
  .header.title {
    padding-left:8rem;
    position:relative;
  }
  .credit-grid {
    padding-left:3rem;
    display:grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows:1fr;
    h3 {
      padding-left:10px;
    }
  }
}
.spoon {
  position:absolute;
  top:0px;
  left:0px;
}
@media only screen and (max-width: 550px) {
  .content#taste {
    top:10rem;
    left:0rem;
    padding-left:3rem;
    width:90% !important;
    .header.title {
      padding-left:0;
    }
    h2, h3 {
    padding-left:0em;
    }
    .credit-grid {
      padding-left:0;
    }
    a:link,
    a:visited {
      color: $text-color-default;
    }
  }
  footer.taste {
    min-width:auto;
    width:80%;
    display:block;
    .bio {
      padding-left:0;
      margin-top:1rem;
    }
  }
}
