<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% feed_meta %}
  {% seo %}
  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}
  </head>

  <body>
    <div class="content">
      {% include navigation.html %}
      {{ content }}
    </div>
  </body>
</html>
