<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/writing-portfolio.css">
    <link rel="stylesheet" href="/assets/css/taste.scss">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body style="background-color:#EAEBE5;">
    <img class="spoon" src="/images/spoon.png" alt="A wooden spoon with a white substance."/>
    <div class="content" id="taste">
      <div class="header title">
        <h1>An Inherited Taste</h1>
        <h2>by Nadine Aurora Tabing</h2>
        <div class="credit-grid">
          <div><img class="ntaacover" src="/images/ntaa.png" alt="The cover of No Trouble At All"/></div>
          <div><h3>Originally published in<br/><Em>No Trouble At All</em> (2023), Cursed Morsels Press<br/><a href="https://www.cursedmorselspress.com/product/no-trouble-at-all-paperback/14?cs=true&cst=custom">Paperback</a> / <a href="https://www.cursedmorselspress.com/product/no-trouble-at-all-ebook/15?cs=true&cst=custom">eBook</a></h3></div>
        </div>
      </div>
      <div class="writing-portfolio">
      {{ content }}
      </div>
      <hr/>
      <div class="ntaa">
      </div>


      <hr/>
      <footer class="taste">
      <div class="avatar"></div>
      <div class="bio">
        <p>
          Nadine is a writer, designer, artist, photo-taker, and shiba inu enthusiast who lives in the Pacific Northwest with her dog, Ichika. You can find her on her website <a href="http://suchnadine.com">suchnadine.com</a> or on Bluesky Social via <a href="https://bsky.app/profile/suchnadine.bsky.social">@suchnadine.bsky.social</a>.
        </p>
      </div>
      </footer>
    </div>
  </body>
</html>
