<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/writing-portfolio.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="content">
      <img class="rainslice" src="/assets/images/rainslice.png"/>
      <nav>
        <ul class="top-bar">
           {% for item in site.data.writing_navigation %}
               <li><a href="{{ item.link }}" {% if page.url == item.link %}class="active-nav"{% endif %}>
                     {{ item.name }}
                   </a>
               </li>
           {% endfor %}
           <li><a target="new" href="http://twitter.com/suchnadine"><img src="/assets/icons/twitter.svg" alt="Twitter"/></a>
        </ul>
      </nav>
      <div class="header title">
        <h1> nadine aurora tabing </h1>
        <h2 class="subtitle"> speculative fiction writer, designer, &amp; artist</h2>
      </div>
      {{ content }}
      <hr/>
      <footer>
      <div class="avatar"><div class="circle"></div></div>
      <div class="bio">
        <p>
          Nadine (she/they) is a speculative fiction writer, designer, artist, and shiba inu enthusiast who lives in the Pacific Northwest with her dog, Ichika. That's it!
        </p>
        <p>
          This website uses Maragsâ Display by John David Maza.
        </p>
      </div>
      </footer>
    </div>
  </body>
</html>
