<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/writing-portfolio.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="content">
      <img class="rainslice" src="/assets/images/rainslice.png"/>
      <div class="header title">
        <h1> nadine aurora tabing </h1>
      </div>
      <ul class="top-bar write-nav">
         {% for item in site.data.writing_navigation %}
             <li><a href="{{ item.link }}" {% if page.url == item.link %}class="active-nav"{% endif %}>
                   {{ item.name }}
                 </a>
             </li>
         {% endfor %}
      </ul>
      <div class="writing-portfolio">
      {{ content }}
      </div>
      <hr/>
      <footer>
      <div class="avatar"><div class="circle"></div></div>
      <div class="bio">
        <p>
          Nadine is a speculative fiction writer, designer, artist, photo-taker, and shiba inu enthusiast. You can find her on <a href="https://bsky.app/profile/suchnadine.bsky.social">Bluesky</a>.
        </p>
        <p>
          This website uses <a href="https://jadmaza.gumroad.com/l/Maragsa">Maragsâ</a> by Jad Maza.
        </p>
      </div>
      </footer>
    </div>
  </body>
</html>
