/* top */
body {
  background-color:#fff;
  color:#222;
  font-family:"Roboto";
  margin:0;
}

h1 {
  text-transform:lowercase;
  font-family:"Crete Round";
  margin:0;
  font-weight:normal;
}
h2 {
  font-family: "Roboto";
  font-size:14pt;
  font-weight:normal;
  color:#656565;
  margin:0;
} 
.content {
  max-width:780px;
  width:70%;
  margin:0px auto;
  margin-top:5%;
  min-width:375px;
}
.header {
  text-align:center;
}

a,
a:hover,
a:active {
  text-decoration:none;
}
a:link,
a:visited {
  color:#222;
}

/* middle */
.bit {
  width:49%;
  padding:20px;
  box-sizing:border-box;
  margin:0px;
  display:inline-block;
  text-decoration:none;
  color:#222; 
  min-width: 150px;
  margin-top:2rem;
}
  .bit:hover,
  .bit:active
  {
    color:#222; 
  }
  .bit h3,
  .bit p {
    margin:0;
  }
  .bit h3 {
    margin-top:0.5rem;
    line-height:20pt;
    font-size: 15pt;
  }
  .bit p {
    font-size:11pt; 
    color:#656565;
    min-height:35px;
    height:35px;
  }
.bit-img {
  background-color:lavender;
  background-position:50% 50%;
  background-size: cover;
  border-radius:2px;
  height:250px;
}
h3 {
  font-family: "Crete Round";
}
h4 {
  margin-top:2rem;
  font-family: "Crete Round";
  font-size: 15pt;
}
.portfolio-bit {
  padding:1rem;
}
.portfolio-bit h3 {
  margin-top:2rem;
}
.portfolio-bit p {
  line-height:17pt;
}
.portfolio-bit a:link {
  text-decoration: underline;
}
.about-img,
.portfolio-bit img {
  margin:0px auto;
  display:block;
  margin-bottom:0;
  margin-top:2rem;
  max-width:100%;
}
iframe {
  display:block;
  margin:0px auto;
  width:100%;
  max-width:560px;
}

  .side-by-side .smaller {
    display:inline-block;
    width:46%;
    margin:1.75%;
  }

.half-size {
  width:50%;
}
.caption {
  margin-top:0.5rem;
  margin-bottom:2rem;
  font-size:90%;
  text-align:center;
  color:#878787;
  font-style:italic; 
}
.hello-bit {
  margin:0px auto;
  margin-top:3rem;
  width:80%;
}
  .hello-bit h3 {
    text-align:center;
  }
blockquote {
  font-style:italic;
}

/* end */
.footer {
  font-size: 11pt;
  box-sizing: border-box;
  width: 95%;
  margin: 0px auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-top: 1rem;
  border-top: 1px dotted #808080;
}
.sm {
  display:block;
  padding:0;
}
  .sm li {
    list-style-type: none;
  }
  .sm li a,
  .sm li a:active {
    color:#878787;
  }
  .sm li a:hover {
    text-decoration:underline;
  }

@media only screen and (max-width: 700px) {
  .bit {
    width: 100%;
  }
  .side-by-side .smaller {
    display:block;
    width:100%;
  }
  .hello-bit {
    width:100%;
  }
}
